/* Font family: Cantarell */
/* latin */
@font-face {
    font-family: 'Cantarell';
    font-style: normal;
    font-weight: 400;
    src: local('Cantarell Regular'), local('Cantarell-Regular'), url(Cantarell-Regular.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin */
@font-face {
  font-family: 'Cantarell';
  font-style: italic;
  font-weight: 400;
  src: local('Cantarell Oblique'), local('Cantarell-Oblique'), url(Cantarell-Oblique.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Cantarell';
  font-style: normal;
  font-weight: 400;
  src: local('Cantarell Regular'), local('Cantarell-Regular'), url(Cantarell-Regular.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Cantarell';
  font-style: normal;
  font-weight: 700;
  src: local('Cantarell Bold'), local('Cantarell-Bold'), url(Cantarell-Bold.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}



html, body { margin: 0; padding: 0; width: 100%; height: 100%; }

* { box-sizing: border-box; }

.VTKWindow {
    display: flex;
    flex-direction: column;
    font-family: 'Cantarell';
    background-color: #f6f5f4;
}

.VTKVerticalLayout {
    display: flex;
    flex-direction: column;
}

.VTKButton {
    height: 34px;
    border-radius: 2px;
    background-color: #DFDFDE;
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #E7E7E6 5%, #D0D0CE 100%);
    border: 1px solid #B6B6B3;
    border-bottom-color: #91918C;
    padding: 0 12px;
}
.VTKButton.flat {
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
}
.VTKButton.flat:hover,
.VTKButton.flat:hover {
    border: 1px solid #B6B6B3;
    border-bottom-color: #91918C;
}

.VTKButton:hover {
    background-color: #EBEBEB;
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #F6F6F6 5%, #DEDEDE 100%);
}
.VTKButton:active {
    background-color: #d9d9d7;
    background-image: none;
    border-bottom-color: #b6b6b3;
}

.VTKHeaderBar {
    display: flex;
    flex: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    width: 100%;
    min-height: 47px;
    background-color: #e1dfdc;
    border-bottom: 1px solid #91918C;
    border-top: 1px solid #FFFFFF;
    background-image: linear-gradient(to bottom, #e1dfdc 0%, #dad7d3 100%);
}
.VTKHeaderBar > h1 { font-size: 11pt; text-align: center; flex:1;}

.VTKPanel { flex: 2; margin: 12px; overflow: auto; } /* background-color: #f6f5f4;} */

.VTKDialog,
.VTKMessageDialog {
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.VTKDialog > .inner {
    width: auto; height: auto;
    min-width: 200px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: 1px solid #cbcbcb;
    border-radius: 5px 5px 0px 0px;
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #E8E8E7 2%);
}

.VTKMessageDialog > .inner {
    width: auto; height: auto;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: 1px solid #cbcbcb;
    border-radius: 5px;
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #E8E8E7 2%);
}

.VTKMessageDialog > .inner > .VTKPanel { flex-grow: 2; }

.VTKMessageDialog h1 { margin-top: 0; }


.VTKActionButtons { display: flex; border-top: 1px solid #b6b6b3; }
.VTKActionButtons > .VTKButton { flex: 1 0 auto; border-radius: 0; border: none; border-right: 1px solid #b6b6b3}
.VTKActionButtons > .VTKButton:last-child { border-right: none; }

.VTKColumn {
    min-width: 200px;
    max-width: 800px;
    margin: 0 auto;
}

.VTKListBox {
    background-color: #ffffff;
    border-color: #cdc9c3;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.VTKListBoxRow {
    display: flex;
    border-bottom: 1px solid #e6e6e6;
    padding: 10px;
}

.VTKListBoxRow .icon {
    width: 48px; height: 48px;
    margin-right: 10px;
    background-position: center;
    background-size: cover
}

.VTKListBoxRow dl {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.VTKListBoxRow dl dt { font-weight: bold; }
.VTKListBoxRow dl dd { margin: 0; }

.fill { width: 100%; }
.empty { background: #E8E8E7 url(test.png) no-repeat center center; }
.hidden { display: none; }

.VTKListBoxRow .VTKButton { transform: scale(0); transition: all cubic-bezier(.68,-0.55,.27,1.55) 0.3s; }
.VTKListBoxRow:hover .VTKButton { transform: scale(1); }



